body {
    background-color: rgb(85, 125, 165);
}

h2 {
    color: #BB2222;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

h3 {
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

p {
    text-align: justify;
}

#loading {
    text-align: center;
    display: block;
    width: 50px;
    height: 50px;
}

#appContainer {
    background-color: gainsboro;
    padding: 20px;
    border-radius: 10px;
}

#textContainer {
    background-color: gainsboro;
    padding: 20px 30px 20px 30px;
    border-radius: 10px;
    margin: auto;
    width: auto;
    height: auto;
}

#filename {
    padding: 10px;
}

#melodyControls {
    text-align: center;
}

#musicFrame {
    font-family: serif;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    width: auto;
    height: auto;
}

#addChord {
    text-align: center;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    width: auto;
    height: auto;
}

#add-rm {
    text-align: center;
}

.jumbotron {
    border-radius: 0px;
}

.btn {
    border-radius: 10px;
    padding: 10px;
}

.chordGroup {
    padding: 10px;
}


.dropdown {
    padding: 0px 0px 0px 0px;
}

/* .chordName{
    margin: 2px;
    border: none;
    display: inline;
} */